<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Hit Music Prediction</title>
  <link rel="shortcut icon" href="http://designshack.net/favicon.ico">
  <link rel="icon" href="http://designshack.net/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.autocomplete.min.js"></script>
  <script type="text/javascript" src="/static/js/currency-autocomplete.js"></script>
</head>

<body>
  <div id="topbar" ><a href="https://nikhilranjan7.github.io">Designed by Nikhil Ranjan</a> <a href="https://github.com/devbridge/jQuery-Autocomplete/blob/master/dist/license.txt">                &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; Copyright 2012 DevBridge</a></div>
  <div id="w">
    <div id="content">
      <h1>Hit Music Prediction</h1>
      <p>Check out the   <a href="https://nikhilranjan7.github.io">source code here</a> on Github.</a></p>

      <div id="searchfield">
        <form><input type="text" name="currency" class="biginput" id="autocomplete"></form>
      </div><!-- @end #searchfield -->

      <div id="outputbox">
        <p id="outputcontent">Choose a song and the results will display here.</p>
      </div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
</body>
</html>
